{% extends "base.html" %}

{% from 'macros.html' import flash_messages with context %}

{% block content %}

    <h1 class="title">
        NotFlask Login Example
    </h1>

    <h2 class="subtitle">
        Easy authentication and authorization in NotFlask.
    </h2>

{% endblock %}
