{% extends "base.html" %}

{% from 'macros.html' import flash_messages with context %}

{% block content %}

    <div class="column is-4 is-offset-4">

        <h1 class="title">Welcome, {{ name }}!</h1>

        <div class="column is-4 is-offset-4">

            {{ flash_messages() }}

        </div>

    </div>

{% endblock %}
