*.dSYM/
*.dylib
*.exe
*.log
*.out
*.pid
*.pstats
*.pstats.pdf
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
*/_version.py
.DS_Store
.benchmarks/
.cache/
.env
.idea*/
.ipynb_checkpoints/
/*.egg-info/
/.cache/
/.data/
/.hypothesis/
/.ipynb_checkpoints/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.tox/
/.vector_cache/
/.venv*
/MANIFEST
/build/
/cmake/
/cython_debug/
/dist/
/gen/
/output/
/profiles/
/target/
/tmp/
/venv/
/weights/
/wmt32k_data/
__pycache__/
cmake-build-*/
test-*.xml

/secrets.yml
