**/*.dSYM/
**/.DS_Store
**/.benchmarks/
**/.cache/
**/.idea/
**/.revision
**/__pycache__/
*.dylib
*.exe
*.log
*.out
*.pstats
*.pstats.pdf
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
.env
/*.egg-info/
/.cache/
/.hypothesis/
/.ipynb_checkpoints/
/.mypy_cache/
/.pytest_cache/
/.tox/
/.vector_cache
/.venv*/
/MANIFEST
/build/
/cython_debug/
/dist/
/gen/
/profiles/
/target/
/weights/
antlr-*.jar
test-*.xml
