# Git
/.git-bare/


# Editors

## Emacs
*~
.#*

## Vim
*.swp

## IntelliJ
.idea*/


# Languages
/build/
/target/
test-*.xml

## C/C++
/cmake/
cmake-build-*/

## JS
node_modules/

## Python
*.pyc
*.pyo
.venv*
__pycache__/

### Build
*.egg-info/
/MANIFEST
/dist/

### Tools
*.pstats
*.pstats.pdf
*.pstats.png
*.pstats.svg
.benchmarks/
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
cython_debug/


# OS

## Mac
.DS_Store


# Binaries
*.dSYM/
*.dylib
*.exe
*.out
*.so


# Var
*.log
*.pid
*.sock


# Config
.env
/secrets.yml


# Misc / Project specific
.cache/
/.cache/
/.data/
/.vector_cache/
/deploy/
/gen/
/output/
/profiles/
/tmp/
/weights/
/wmt32k_data/
