greenlet==3.0.3; implementation_name != 'nogil'
httptools==0.6.1; implementation_name != 'nogil'
pyyaml==6.0.1
sqlalchemy==2.0.29
wrapt>=1.14.1

## compress:
# lz4
# zstd

## db:
# kazoo
# mysql-connector-python
# pg8000
# psycopg2
# pyhive
# pymemcache
# pymongo
# pymysql
# redis

## diag:
# psutil

## serde:
# cbor
# msgpack
# orjson
# toml
ujson==5.9.0

## misc
# billiard
# python-dateutil