numpy==1.24.3

llvmlite==0.40.0
pandas==2.0.1
pillow==9.5.0
torch==2.0.0
torchvision==0.15.1

pyopencl==2022.3.1

pycuda==2022.2.2; sys_platform != 'darwin'

pyobjc-core==9.1.1; sys_platform == 'darwin'
pyobjc-framework-cocoa==9.1.1; sys_platform == 'darwin'
pyobjc-framework-libdispatch==9.1.1; sys_platform == 'darwin'
pyobjc-framework-metal==9.1.1; sys_platform == 'darwin'