#### optional

greenlet==3.3.0

wrapt==2.0.1

pyyaml==6.0.3

anyio==4.11.0
sniffio==1.3.1

jinja2==3.1.6

cryptography==46.0.3  # @omlish-venv !13t !13dt  # cffi


### compress:

lz4==4.4.5
# git+https://github.com/wrmsr/python-lz4@wrmsr_20240830_GIL_NOT_USED

python-snappy==0.7.3
zstandard==0.25.0
brotli==1.2.0


### db:

sqlalchemy[asyncio]==2.0.45

## sql

pg8000==1.31.5
#> psycopg2==2.9.10
#> psycopg==3.2.2

#> mysql-connector-python==9.5.0
#> mysqlclient==2.2.5; sys_platform == "darwin"  # brew install mysql pkg-config
pymysql==1.1.2

# pyhive


### diag:

psutil==7.2.1


### serde:

## json

#> ujson==5.10.0
orjson==3.11.5  # @omlish-venv !13t !13dt !14t !14dt

## pickle

cloudpickle==3.1.2

## other

cbor2==5.7.1

# msgpack


### web

h11==0.16.0
h2==4.3.0
priority==2.0.0
wsproto==1.3.2

httpx[http2]==0.28.1  # FIXME: ,zstd,cli (dev only)


### async

trio==0.32.0
trio-asyncio==0.15.0; python_version < "3.14"  # subprocess watcher issue

aiomysql==0.3.2
aiosqlite==0.22.1
asyncpg==0.31.0  # @omlish-venv !13t !13dt !14t  # won't build

asyncssh==2.22.0  # @omlish-venv !13t !13dt  # cffi
