-r requirements-dev.txt


# FIXME:
# BERKELEYDB_DIR=$(brew --prefix "berkeley-db@4") .venv/bin/pip install bsddb3


##
# infra

google-api-python-client==2.171.0
google-cloud-compute==1.31.0


##
# ml

matplotlib==3.10.3

torch==2.7.1
torchvision==0.22.1

diffusers==0.33.1

scipy==1.15.3
scikit-learn==1.7.0
scikit-image==0.25.2

safetensors==0.5.3

tavily-python==0.7.5

sqlite-vec==0.1.6

pytesseract==0.3.13

duckduckgo-search==8.0.2  # @omlish-venv !13t  # segfault lol


##
# source

jedi==0.19.2
jedi-language-server==0.45.1

tree-sitter==0.24.0
tree-sitter-python==0.23.6

watchdog==6.0.0

pyright[nodejs]==1.1.401

basedpyright==1.29.2

blobfile==3.0.0


##
# diag

yappi==1.6.10
pyinstrument==5.0.2


##
# jupyter

jupyter==1.1.1
jupyterlab==4.4.3
notebook==7.4.3
