greenlet==3.0.3; python_version < '3.13'
httptools==0.6.1; python_version < '3.13'
pyyaml==6.0.1
sqlalchemy[asyncio]==2.0.30; python_version < '3.13'
sqlalchemy==2.0.30; python_version >= '3.13'  # greenlet
wrapt>=1.14.1

## compress:
# lz4
# zstd

## db:
# kazoo
# mysql-connector-python
# pg8000
# psycopg2
# pyhive
# pymemcache
# pymongo
# pymysql
# redis

## diag:
# psutil

## serde:
# cbor
# msgpack
# orjson
# toml
ujson==5.10.0

## misc
# billiard
# numpy
# python-dateutil