-r requirements-dev.txt


## FIXME:
# BERKELEYDB_DIR=$(brew --prefix "berkeley-db@4") .venv/bin/pip install bsddb3


## infra
#

google-api-python-client==2.166.0
google-cloud-compute==1.29.0


## ml
#

matplotlib==3.10.1

torch==2.6.0
torchvision==0.21.0

scipy==1.15.2
scikit-learn==1.6.1
scikit-image==0.25.2

safetensors==0.5.3

tavily-python==0.5.4

sqlite-vec==0.1.6

pytesseract==0.3.13

duckduckgo_search==8.0.0  # @omlish-venv !13t  # segfault lol


##
# source

jedi==0.19.2
jedi-language-server==0.44.0

tree-sitter==0.24.0
tree-sitter-python==0.23.6

watchdog==6.0.0

pyright[nodejs]==1.1.398

basedpyright==1.28.5

blobfile==3.0.0


##
#

jupyter==1.1.1
jupyterlab==4.4.0
