-r requirements.txt

build>=1.4.0
twine>=6.2.0
wheel>=0.47.0

uv>=0.11.31

pytest==9.1.1
pytest-benchmark==5.2.3
pytest-clarity==1.0.1
pytest-stress==1.0.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0

flake8==7.3.0
flake8-pyproject==1.2.4
ruff==0.15.22

asyncpg-stubs==0.31.3
docutils-stubs==0.0.22
lxml-stubs==0.5.1
types-docutils==0.22.3.20260712
types-greenlet==3.5.0.20260518
types-paramiko==5.0.0.20260617  # @om-venv !15t
types-psutil==7.2.2.20260518
types-pygments==2.20.0.20260518
types-pymysql==1.1.0.20260518
types-pyyaml==6.0.12.20260518
types-regex==2026.7.19.20260720
types-setuptools==83.0.0.20260716
types-ujson==5.10.0.20250822

black==26.5.1
mypy==2.3.0
pipdeptree==3.1.1

astpretty==3.0.0

gprof2dot==2025.4.14
guppy3==3.1.7  # @om-venv !14t !14dt !15 !15t
objgraph==3.6.2
memray==1.19.3

ipython==9.15.0

pudb==2025.1.5


##

cython==3.2.8

lxml==6.1.1

# clang


# Used for tests
json5==0.15.0


##

# c/libpq
psycopg2==2.9.12
# py/cy
psycopg==3.3.4

mysql-connector-python==9.7.0
mysqlclient==2.2.8; sys_platform == "darwin"  # brew install mysql pkg-config  # PKG_CONFIG_PATH="/opt/homebrew/opt/mysql-client/lib/pkgconfig" pip install ...

ujson==5.13.0

markupsafe==3.0.3

asgiref==3.12.1
uvicorn==0.51.0

sqlean.py==3.50.4.5
# git+https://github.com/wrmsr/sqlean.py.git

duckdb==1.5.4

pycparser==3.0
pcpp==1.30

# !! LGPL
paramiko==5.0.0  # @om-venv !15t

docutils==0.23

markdown-it-py==4.2.0
mdit-py-plugins==0.6.1

pygments==2.20.0

mwparserfromhell==0.7.2
wikitextparser==1.0.2  # !! GPL

executing==2.2.1
asttokens==3.0.2

numpy==2.5.1

# must be kept in sync
textual==8.2.8
textual[syntax]==8.2.8  # @om-venv !14t !14dt !15t

rich==15.0.0
textual-dev==1.8.0
textual-speedups==0.2.1  # @om-venv !15 !15t

snowflake-connector-python[secure-local-storage]==4.7.1  # @om-venv !15t
# snowflake-sqlalchemy==1.7.7

trino==0.338.0  # @om-venv !14t !14dt !15t  # orjson

huggingface-hub==1.24.0  # @om-venv !15t
hf-xet==1.5.2  # @om-venv !15t

## NOTE: the following add a full minute to CI just setting up the deps..

datasets==5.0.0  # @om-venv !15 !15t  # !! includes arrow and pandas and shit

transformers==5.11.0  # @om-venv !14t !14dt !15 !15t
sentence-transformers==5.6.0  # @om-venv !14t !14dt !15 !15t

sentencepiece==0.2.2
tiktoken==0.13.0  # @om-venv !15 !15t
tokenizers==0.22.2  # @om-venv !14t !14dt !15t

llama-cpp-python; sys_platform == "darwin"

segno==1.6.6

# Used for codegen
boto3==1.43.53
botocore==1.43.53
types-boto3==1.43.53
botocore-stubs==1.43.14

antlr4-python3-runtime==4.13.2

mlx==0.32.0; sys_platform == "darwin"  # @om-venv !14t !4dt !15 !15t
mlx-lm==0.31.3; sys_platform == "darwin"  # @om-venv !14t !14dt !15 !15t

apsw==3.53.3.1

rapidocr-onnxruntime==1.4.4  # @om-venv !14t !14dt !15 !15t
# opencv-python==4.12.0.88  # @om-venv !14t !14dt  # FIXME: downgrades numpy

pillow==12.3.0

# accelerate==1.13.0  # @om-venv !15 !15t

bitsandbytes==0.49.2  # @om-venv !15 !15t

regex==2026.7.19

# x.server - TODO: delete

h11==0.16.0
wsproto==1.3.2
