-r requirements.txt

build>=1.2.2
twine>=6.0.1
wheel>=0.45.1

uv>=0.5.15

pytest==8.3.4
pytest-benchmark==5.1.0
pytest-clarity==1.0.1
pytest-stress==1.0.1
pytest-timeout==2.3.1
pytest-xdist==3.6.1

flake8==7.1.1
flake8-pyproject==1.2.3
ruff==0.8.6

docutils-stubs==0.0.22
types-markdown==3.7.0.20241204
types-paramiko==3.5.0.20240928  # @omlish-venv !13t
types-pyyaml==6.0.12.20241230
types-ujson==5.10.0.20240515

black==24.10.0
mypy==1.14.1
pipdeptree==2.24.0

gprof2dot==2024.6.6
guppy3==3.1.5; python_version < "3.13"
objgraph==3.6.2

ipython==8.31.0

pg8000==1.31.2
pymysql==1.1.1

litecli==1.13.2  # @omlish-venv !13t
mycli==1.29.2  # @omlish-venv !13t
pgcli==4.1.0  # @omlish-venv !13t

# pydevd_pycharm==241.18034.82

pudb==2024.1.3


##

cython==3.0.11

lxml==5.3.0  # @omlish-venv !13t

# clang


json5==0.10.0

# pyrsistent
# rpds-py
# sortedcontainers


##

psycopg2==2.9.10
psycopg==3.2.3

mysql-connector-python==9.1.0
mysqlclient==2.2.6; sys_platform == "darwin"  # brew install mysql pkg-config  # PKG_CONFIG_PATH="/opt/homebrew/opt/mysql-client/lib/pkgconfig" pip install ...

ujson==5.10.0

markupsafe==3.0.2

redis==5.2.1

sqlean.py==3.47.0  # @omlish-venv !13t
duckdb==1.1.3

tokenize-rt==6.1.0

pycparser==2.22
cffi==1.17.1
pcpp==1.30

paramiko==3.5.0  # @omlish-venv !13t  # !! LGPL

docutils==0.21.2
markdown==3.7

mwparserfromhell==0.6.6  # @omlish-venv !13t
wikitextparser==0.56.3  # !! GPL

executing==2.1.0
asttokens==3.0.0

numpy>=1.20

prompt-toolkit>=3.0.0

snowflake-connector-python[secure-local-storage]==3.12.4; python_version < "3.13"
snowflake-sqlalchemy==1.7.2; python_version < "3.13"

huggingface-hub==0.27.1

## NOTE: the following add a full minute to CI just setting up the deps..

datasets==3.2.0; python_version < "3.13"  # !! includes arrow and pandas and shit

sentence-transformers==3.3.1; python_version < "3.13"
sentencepiece==0.2.0; python_version < "3.13"
tiktoken==0.8.0; python_version < "3.13"
transformers==4.47.1; python_version < "3.13"

llama-cpp-python; sys_platform == "darwin"

segno==1.6.1

duckduckgo_search==7.2.1  # @omlish-venv !13t  # segfault lol

boto3>=1.35.94
