absl-py==2.1.0
accelerate==1.5.2
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiomysql==0.2.0
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.15.1
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.8.0
appdirs==1.4.4
appnope==0.1.4
apsw==3.49.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
asyncer==0.0.8
asyncpg==0.30.0
asyncssh==2.20.0
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
backoff==2.2.1
bayesian-optimization==1.4.0
bcrypt==4.3.0
beautifulsoup4==4.13.3
bellows==0.43.0
bitsandbytes==0.42.0
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
boto3==1.37.12
botocore==1.37.12
Brotli==1.1.0
bs4==0.0.2
bsddb3==6.2.9
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
cattrs==24.1.2
cbor2==5.6.5
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
cli_helpers==2.4.0
click==8.1.8
click-log==0.4.0
cloudflare==3.1.0
cloudpathlib==0.21.0
cloudpickle==3.1.1
cma==4.0.0
colorama==0.4.0
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
confection==0.1.5
configobj==5.0.9
contourpy==1.3.1
courlan==1.3.2
cramjam==2.9.1
crccheck==1.3.0
cryptography==44.0.2
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
darkdetect==0.8.0
dataclasses-json==0.6.7
datasets==3.3.2
dateparser==1.2.1
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
directsearch==1.0
dirtyjson==1.0.8
discord.py==2.5.2
diskcache==5.6.3
distro==1.9.0
docstring-to-markdown==0.15
docstring_parser==0.16
docutils==0.21.2
docutils-stubs==0.0.22
dspy==2.5.42
duckdb==1.2.1
duckduckgo_search==7.5.2
durationpy==0.9
einops==0.8.1
elastic-transport==8.17.1
elasticsearch==8.17.2
emoji==2.14.1
eval_type_backport==0.2.2
evaluate==0.4.3
execnet==2.1.1
executing==2.2.0
fairscale==0.4.13
faiss-cpu==1.10.0
fastapi==0.115.11
fastjsonschema==2.21.1
filelock==3.18.0
filetype==1.2.0
fire==0.6.0
flake8==7.1.2
Flake8-pyproject==1.2.3
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.56.0
fparser==0.1.4
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
future==1.0.0
gast==0.6.0
geopandas==1.0.1
gevent==24.11.1
gguf==0.14.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-compute==1.26.0
google-pasta==0.2.0
googleapis-common-protos==1.69.1
gprof2dot==2024.6.6
gpt4all==2.8.2
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.62.3
grpcio-tools==1.62.3
guppy3==3.1.5
Gutenberg==0.8.2
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h2==4.2.0
h5py==3.13.0
hexdump==3.3
hpack==4.1.0
html5lib==1.1
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.3
humanfriendly==10.0
hyperframe==6.1.0
hypothesis==6.129.1
id==1.5.0
idna==3.10
ifaddr==0.2.0
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.0.0
instructor==1.7.4
ipykernel==6.29.4
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.2
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jedi-language-server==0.43.1
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
json_repair==0.39.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jusText==3.0.2
keras==3.9.0
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.1
langchain==0.3.20
langchain-anthropic==0.3.9
langchain-chroma==0.2.2
langchain-community==0.3.19
langchain-core==0.3.45
langchain-elasticsearch==0.3.2
langchain-experimental==0.3.4
langchain-huggingface==0.1.2
langchain-mistralai==0.2.8
langchain-openai==0.3.8
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.6
langchainhub==0.1.21
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.3.10
langgraph-checkpoint==2.0.19
langgraph-prebuilt==0.1.3
langgraph-sdk==0.1.57
langsmith==0.3.13
language_data==1.3.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
libtmux==0.46.0
lightning-utilities==0.14.0
litecli==1.14.4
litellm==1.51.0
llama-index-core==0.12.24.post1
llama_cpp_python==0.3.8
llvmlite==0.44.0
Logbook==1.8.0
loralib==0.1.2
lru-dict==1.3.0
lsprotocol==2023.0.1
lupa==2.4
lxml==5.3.1
lxml_html_clean==0.4.1
lz4==4.4.3
magicattr==0.1.6
Mako==1.3.9
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.2
mitogen==0.3.22
ml-dtypes==0.4.1
mlx==0.23.2
mlx-lm==0.22.0
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
mwparserfromhell==0.6.6
mycli==1.29.2
mypy==1.15.0
mypy-extensions==1.0.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.4.2
nevergrad==1.0.8
nh3==0.2.21
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
objgraph==3.6.2
olefile==0.47
onnx==1.17.0
onnx2torch==1.5.15
onnxruntime==1.21.0
openai==1.66.3
opencv-python==4.11.0.86
opendal==0.45.16
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-grpc==1.15.0
opentelemetry-instrumentation==0.52b0
opentelemetry-instrumentation-asgi==0.52b0
opentelemetry-instrumentation-fastapi==0.52b0
opentelemetry-proto==1.15.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
opentelemetry-util-http==0.52b0
opt_einsum==3.4.0
optree==0.14.1
optuna==4.2.1
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==3.5.1
parso==0.8.4
pathspec==0.12.1
pcpp==1.30
peft @ git+https://github.com/huggingface/peft.git@7320bb94a04f32dd576c8952cb4d4f59f8fc5a1b
pexpect==4.9.0
pg8000==1.31.2
pgcli==4.2.0
pgspecial==2.1.3
pillow==11.1.0
pipdeptree==2.25.1
platformdirs==4.3.6
pluggy==1.5.0
polars==1.24.0
pooch==1.8.2
portalocker==2.8.2
posthog==3.20.0
pprintpp==0.4.0
preshed==3.0.9
primp==0.14.0
priority==2.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.1
protobuf==4.25.6
psutil==7.0.0
psycopg==3.2.6
psycopg2==2.9.10
ptyprocess==0.7.0
pudb==2024.1.3
pure-pcapy3==1.0.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaes==1.6.1
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pyflakes==3.2.0
pyfzf==0.3.1
pygls==1.3.1
Pygments==2.19.1
pyinfra==3.2
PyJWT==2.10.1
PyMySQL==1.1.1
PyNaCl==1.5.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-libdispatch==11.0
pyobjc-framework-Metal==11.0
pyogrio==0.10.0
pyOpenSSL==25.0.0
pyparsing==2.4.7
pypdf==5.3.1
pyperclip==1.9.0
PyPika==0.48.9
pyproj==3.7.1
pyproject_hooks==1.2.0
pyserial==3.5
pyserial-asyncio==0.6
pyspnego==0.11.2
pytesseract==0.3.13
pytest==8.3.5
pytest-benchmark==5.1.0
pytest-clarity==1.0.1
pytest-stress==1.0.1
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2025.2.18
python-json-logger==3.3.0
python-magic==0.4.27
python-oxmsg==0.0.2
python-snappy==0.7.3
python-telegram-bot==21.11.1
pytorch-lightning==2.5.0.post0
pytz==2025.1
pywinrm==0.5.0
PyYAML==6.0.2
pyzmq==26.3.0
qdrant-client==1.13.3
qtconsole==5.5.1
QtPy==2.4.3
RapidFuzz==3.12.2
rapidocr-onnxruntime==1.4.4
rdflib==4.2.2
rdflib-sqlalchemy==0.5.3
readme_renderer==44.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
rubicon-objc==0.5.0
ruff==0.11.0
s3transfer==0.11.4
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
scramp==1.4.5
segno==1.6.6
selectolax==0.3.28
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
setproctitle==1.3.5
setuptools==76.0.0
setuptools-scm==8.2.0
shapely==2.0.7
shellingham==1.5.4
simsimd==6.2.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.14.0
snowflake-sqlalchemy==1.7.3
soco==0.30.9
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==1.8.5
SQLAlchemy==2.0.39
sqlean.py==3.47.0
sqlglot==26.10.1
sqlite-vec==0.1.6
sqlparse==0.4.4
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.1
sympy==1.13.1
tabulate==0.9.0
tantivy==0.22.0
tavily-python==0.5.1
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.1
termcolor==2.5.0
terminado==0.18.1
tf_keras==2.17.0
thinc==8.3.4
threadpoolctl==3.6.0
tifffile==2025.3.13
tiktoken==0.9.0
tinycss2==1.4.0
tld==0.13
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.6.0
torchinfo==1.8.0
torchmetrics==1.6.3
torchsummary==1.5.1
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.49.0
tree-sitter==0.24.0
tree-sitter-python==0.23.6
trio==0.29.0
trio_asyncio==0.15.0
trl==0.15.2
twine==6.1.0
typeguard==4.4.2
typer==0.15.2
types-Markdown==3.7.0.20241204
types-paramiko==3.5.0.20240928
types-python-dateutil==2.9.0.20241206
types-PyYAML==6.0.12.20241230
types-requests==2.32.0.20250306
types-ujson==5.10.0.20240515
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
ujson==5.10.0
unstructured==0.17.0
unstructured-client==0.31.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
urwid==2.6.16
urwid_readline==0.15.1
usearch==2.16.9
uv==0.6.6
uvicorn==0.34.0
uvloop==0.21.0
voluptuous==0.15.2
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wgpu==0.20.1
wheel==0.45.1
widgetsnbextension==4.0.13
wikipedia==1.4.0
wikitextparser==0.56.3
wikitextprocessor==0.4.96
wrapt==1.17.2
wsproto==1.2.0
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.18.3
zigpy==0.77.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
zwave-js-server-python==0.61.0
