[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'ommlx'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '~=3.12'
version = '0.0.0.dev30'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'ommlx'
dependencies = [
    'omdev == 0.0.0.dev30',
    'omlish == 0.0.0.dev30',
]

[project.optional-dependencies]
all = [
    'llama-cpp-python ~= 0.2',
    'openai ~= 1.47',
    'tinygrad ~= 0.9',
    'torch ~= 2.4',
    'transformers ~= 4.44',
    'mwparserfromhell ~= 0.6',
    'wikitextparser ~= 0.56',
    'lxml ~= 5.3; python_version < "3.13"',
]
llamacpp = [
    'llama-cpp-python ~= 0.2',
]
openai = [
    'openai ~= 1.47',
]
tinygrad = [
    'tinygrad ~= 0.9',
]
torch = [
    'torch ~= 2.4',
]
transformers = [
    'transformers ~= 4.44',
]
wiki = [
    'mwparserfromhell ~= 0.6',
    'wikitextparser ~= 0.56',
]
xml = [
    'lxml ~= 5.3; python_version < "3.13"',
]

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'ommlx',
    'ommlx.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.h',
    '.manifests.json',
    'LICENSE',
]
