[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'omlish'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '>=3.12'
version = '0.0.0.dev11'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'omlish'

[project.optional-dependencies]
all = [
    'anyio >= 4.4',
    'sniffio >= 1.3',
    'greenlet >= 3; python_version < "3.13"',
    'trio >= 0.26',
    'trio-asyncio >= 0.15; python_version < "3.13"',
    'lz4 >= 4',
    'python-snappy >= 0.7; python_version < "3.13"',
    'zstd >= 1.5',
    'orjson > 3.10',
    'cloudpickle >= 3',
    'pyyaml >= 5',
    'httpx[http2] >= 0.27',
    'jinja2 >= 3.1',
    'psutil >= 6',
    'wrapt >= 1.14',
    'cryptography >= 43',
    'sqlalchemy >= 2; python_version >= "3.13"',
    'sqlalchemy[asyncio] >= 2; python_version < "3.13"',
    'pg8000 >= 1.31',
    'pymysql >= 1.1',
    'aiomysql >= 0.2',
    'aiosqlite >= 0.20',
    'asyncpg >= 0.29; python_version < "3.13"',
    'sqlean.py >= 3.45; python_version < "3.13"',
    'duckdb >= 1',
    'pytest >= 8',
]
async = [
    'anyio >= 4.4',
    'sniffio >= 1.3',
    'greenlet >= 3; python_version < "3.13"',
    'trio >= 0.26',
    'trio-asyncio >= 0.15; python_version < "3.13"',
]
compression = [
    'lz4 >= 4',
    'python-snappy >= 0.7; python_version < "3.13"',
    'zstd >= 1.5',
]
formats = [
    'orjson > 3.10',
    'cloudpickle >= 3',
    'pyyaml >= 5',
]
http = [
    'httpx[http2] >= 0.27',
]
misc = [
    'jinja2 >= 3.1',
    'psutil >= 6',
    'wrapt >= 1.14',
]
secrets = [
    'cryptography >= 43',
]
sql = [
    'sqlalchemy >= 2; python_version >= "3.13"',
    'sqlalchemy[asyncio] >= 2; python_version < "3.13"',
    'pg8000 >= 1.31',
    'pymysql >= 1.1',
    'aiomysql >= 0.2',
    'aiosqlite >= 0.20',
    'asyncpg >= 0.29; python_version < "3.13"',
]
sqlx = [
    'sqlean.py >= 3.45; python_version < "3.13"',
    'duckdb >= 1',
]
testing = [
    'pytest >= 8',
]

[tool.setuptools]
include-package-data = false

[tool.setuptools.packages.find]
include = [
    'omlish',
    'omlish.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]
