[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'omlish'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '~=3.12'
version = '0.0.0.dev27'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'omlish'

[project.optional-dependencies]
all = [
    'anyio ~= 4.4',
    'sniffio ~= 1.3',
    'greenlet ~= 3.1',
    'trio ~= 0.26',
    'trio-asyncio ~= 0.15',
    'lz4 ~= 4.0',
    'python-snappy ~= 0.7; python_version < "3.13"',
    'zstd ~= 1.5',
    'asttokens ~= 2.4',
    'executing ~= 2.1',
    'psutil ~= 6.0',
    'orjson ~= 3.10',
    'ujson ~= 5.10',
    'json5 ~= 0.9',
    'pyyaml ~= 5.0',
    'cloudpickle ~= 3.0',
    'httpx[http2] ~= 0.27',
    'jinja2 ~= 3.1',
    'wrapt ~= 1.14',
    'cryptography ~= 43.0',
    'sqlalchemy[asyncio] ~= 2.0',
    'pg8000 ~= 1.31',
    'pymysql ~= 1.1',
    'aiomysql ~= 0.2',
    'aiosqlite ~= 0.20',
    'asyncpg ~= 0.29; python_version < "3.13"',
    'sqlean.py ~= 3.45; python_version < "3.13"',
    'duckdb ~= 1.1',
    'pytest ~= 8.0',
]
async = [
    'anyio ~= 4.4',
    'sniffio ~= 1.3',
    'greenlet ~= 3.1',
    'trio ~= 0.26',
    'trio-asyncio ~= 0.15',
]
compression = [
    'lz4 ~= 4.0',
    'python-snappy ~= 0.7; python_version < "3.13"',
    'zstd ~= 1.5',
]
diag = [
    'asttokens ~= 2.4',
    'executing ~= 2.1',
    'psutil ~= 6.0',
]
formats = [
    'orjson ~= 3.10',
    'ujson ~= 5.10',
    'json5 ~= 0.9',
    'pyyaml ~= 5.0',
    'cloudpickle ~= 3.0',
]
http = [
    'httpx[http2] ~= 0.27',
]
misc = [
    'jinja2 ~= 3.1',
    'wrapt ~= 1.14',
]
secrets = [
    'cryptography ~= 43.0',
]
sql = [
    'sqlalchemy[asyncio] ~= 2.0',
    'pg8000 ~= 1.31',
    'pymysql ~= 1.1',
    'aiomysql ~= 0.2',
    'aiosqlite ~= 0.20',
    'asyncpg ~= 0.29; python_version < "3.13"',
]
sqlx = [
    'sqlean.py ~= 3.45; python_version < "3.13"',
    'duckdb ~= 1.1',
]
testing = [
    'pytest ~= 8.0',
]

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'omlish',
    'omlish.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.h',
    '.manifests.json',
    'LICENSE',
    'specs/jsonschema/schemas/draft202012/*.json',
    'specs/jsonschema/schemas/draft202012/vocabularies/*.json',
]
