[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'ominfra'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '>=3.12'
version = '0.0.0.dev274'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'ominfra'
dependencies = [
    'omdev == 0.0.0.dev274',
    'omlish == 0.0.0.dev274',
]

[project.optional-dependencies]
all = [
    'paramiko ~= 3.5',
    'asyncssh ~= 2.20',
]
ssh = [
    'paramiko ~= 3.5',
    'asyncssh ~= 2.20',
]

[project.entry-points]
'omlish.manifests' = {ominfra = 'ominfra'}

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'ominfra',
    'ominfra.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.g4',
    '*.h',
    '.manifests.json',
    'LICENSE',
    'LICENSE.txt',
    'clouds/aws/instancetypes/cache.json.gz',
    'clouds/aws/models/services/*.toml',
    'manage/targets/bestpython.sh',
]
