{% extends "base.html.j2" %}

{% from 'macros.html.j2' import flash_messages with context %}

{% block content %}

    <div class="column is-4 is-offset-4">

        <h1 class="title">Welcome, {{ name }}!</h1>

        <div class="box">

            {{ flash_messages() }}

            <form method="POST" action="{{ url_for('profile') }}">

                <div class="field">
                    <div class="control">
                        <label for="auth-token">Auth Token</label>
                        <input
                                id="auth-token"
                                class="input is-large"
                                type="text"
                                name="auth-token"
                                placeholder="Auth Token"
                                autofocus=""
                                value="{{ auth_token }}"
                        >
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Save</button>

            </form>
        </div>

    </div>

    <div class="column is-4 is-offset-4">
        <button hx-post="/clicked" hx-swap="outerHTML">
            Click Me
        </button>
    </div>

{% endblock %}
