.status-horizontal {
    width: 100%;
    height: 1;

    margin: 0;
    padding: 0 1 0 1;

    text-align: left;

    background: $background-darken-3;
}

.status-bar {
    width: auto;
    height: 1;

    margin: 0;
    padding: 0;
}
