[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'ommlds'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = 'BSD-3-Clause'
readme = 'README.md'
requires-python = '>=3.13'
version = '0.0.0.dev430'
classifiers = [
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.13',
]
description = 'ommlds'
dependencies = [
    'omdev == 0.0.0.dev430',
    'omlish == 0.0.0.dev430',
]

[project.optional-dependencies]
all = [
    'llama-cpp-python ~= 0.3',
    'mlx ~= 0.28',
    'mlx-lm ~= 0.26; sys_platform == "darwin"',
    'tiktoken ~= 0.11',
    'tinygrad ~= 0.11',
    'tokenizers ~= 0.22',
    'torch ~= 2.8',
    'transformers ~= 4.56',
    'sentence-transformers ~= 5.1',
    'huggingface-hub ~= 0.34',
    'datasets ~= 4.0',
    'numpy >= 1.26',
    'pytesseract ~= 0.3',
    'rapidocr-onnxruntime ~= 1.4',
    'pillow ~= 11.3',
    'ddgs ~= 9.5',
    'mwparserfromhell ~= 0.7',
    'wikitextparser ~= 0.56',
    'lxml >= 5.3; python_version < "3.13"',
]
backends = [
    'llama-cpp-python ~= 0.3',
    'mlx ~= 0.28',
    'mlx-lm ~= 0.26; sys_platform == "darwin"',
    'tiktoken ~= 0.11',
    'tinygrad ~= 0.11',
    'tokenizers ~= 0.22',
    'torch ~= 2.8',
    'transformers ~= 4.56',
    'sentence-transformers ~= 5.1',
]
huggingface = [
    'huggingface-hub ~= 0.34',
    'datasets ~= 4.0',
]
numpy = [
    'numpy >= 1.26',
]
ocr = [
    'pytesseract ~= 0.3',
    'rapidocr-onnxruntime ~= 1.4',
]
pillow = [
    'pillow ~= 11.3',
]
search = [
    'ddgs ~= 9.5',
]
wiki = [
    'mwparserfromhell ~= 0.7',
    'wikitextparser ~= 0.56',
]
xml = [
    'lxml >= 5.3; python_version < "3.13"',
]

[project.entry-points]
'omlish.manifests' = {ommlds = 'ommlds'}

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'ommlds',
    'ommlds.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.g4',
    '*.h',
    '.omlish-manifests.json',
    'LICENSE',
    'LICENSE.txt',
]
