[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'ommlds'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '>=3.13'
version = '0.0.0.dev362'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'ommlds'
dependencies = [
    'omdev == 0.0.0.dev362',
    'omlish == 0.0.0.dev362',
]

[project.optional-dependencies]
all = [
    'llama-cpp-python ~= 0.3',
    'mlx ~= 0.26',
    'mlx-lm ~= 0.26; sys_platform == "darwin"',
    'sentencepiece ~= 0.2',
    'tiktoken ~= 0.9',
    'tinygrad ~= 0.10',
    'tokenizers ~= 0.21',
    'torch ~= 2.7',
    'transformers ~= 4.53',
    'sentence-transformers ~= 5.0',
    'huggingface-hub ~= 0.33',
    'datasets ~= 4.0',
    'numpy >= 1.26',
    'pytesseract ~= 0.3',
    'rapidocr-onnxruntime ~= 1.4',
    'pillow ~= 11.1',
    'duckduckgo-search ~= 8.1',
    'mwparserfromhell ~= 0.7',
    'wikitextparser ~= 0.56',
    'lxml >= 5.3; python_version < "3.13"',
]
backends = [
    'llama-cpp-python ~= 0.3',
    'mlx ~= 0.26',
    'mlx-lm ~= 0.26; sys_platform == "darwin"',
    'sentencepiece ~= 0.2',
    'tiktoken ~= 0.9',
    'tinygrad ~= 0.10',
    'tokenizers ~= 0.21',
    'torch ~= 2.7',
    'transformers ~= 4.53',
    'sentence-transformers ~= 5.0',
]
huggingface = [
    'huggingface-hub ~= 0.33',
    'datasets ~= 4.0',
]
numpy = [
    'numpy >= 1.26',
]
ocr = [
    'pytesseract ~= 0.3',
    'rapidocr-onnxruntime ~= 1.4',
]
pillow = [
    'pillow ~= 11.1',
]
search = [
    'duckduckgo-search ~= 8.1',
]
wiki = [
    'mwparserfromhell ~= 0.7',
    'wikitextparser ~= 0.56',
]
xml = [
    'lxml >= 5.3; python_version < "3.13"',
]

[project.entry-points]
'omlish.manifests' = {ommlds = 'ommlds'}

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'ommlds',
    'ommlds.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.g4',
    '*.h',
    '.manifests.json',
    'LICENSE',
    'LICENSE.txt',
]
