[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'omdev'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '>=3.12'
version = '0.0.0.dev11'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'omdev'
dependencies = [
    'omlish == 0.0.0.dev11',
]

[project.optional-dependencies]
all = [
    'pycparser >= 2.22',
    'cffi >= 1.17',
    'pcpp >= 1.30',
    'mypy >= 1.11',
    'tokenize_rt >= 6',
]
c = [
    'pycparser >= 2.22',
    'cffi >= 1.17',
    'pcpp >= 1.30',
]
mypy = [
    'mypy >= 1.11',
]
tokens = [
    'tokenize_rt >= 6',
]

[tool.setuptools]
include-package-data = false

[tool.setuptools.packages.find]
include = [
    'omdev',
    'omdev.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]
