[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'omdev'
authors = [
    {name = 'wrmsr'},
]
urls = {source = 'https://github.com/wrmsr/omlish'}
license = {text = 'BSD-3-Clause'}
requires-python = '~=3.12'
version = '0.0.0.dev83'
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Operating System :: POSIX',
]
description = 'omdev'
dependencies = [
    'omlish == 0.0.0.dev83',
]

[project.optional-dependencies]
all = [
    'black ~= 24.10',
    'pycparser ~= 2.22',
    'cffi ~= 1.17',
    'pcpp ~= 1.30',
    'docutils ~= 0.21',
    'mypy ~= 1.11',
    'gprof2dot ~= 2024.6',
    'tokenize_rt ~= 6.1',
    'wheel ~= 0.44',
]
black = [
    'black ~= 24.10',
]
c = [
    'pycparser ~= 2.22',
    'cffi ~= 1.17',
    'pcpp ~= 1.30',
]
docutils = [
    'docutils ~= 0.21',
]
mypy = [
    'mypy ~= 1.11',
]
prof = [
    'gprof2dot ~= 2024.6',
]
tokens = [
    'tokenize_rt ~= 6.1',
]
wheel = [
    'wheel ~= 0.44',
]

[project.entry-points]
'omlish.manifests' = {omdev = 'omdev'}

[tool.setuptools]

[tool.setuptools.packages.find]
include = [
    'omdev',
    'omdev.*',
]
exclude = [
    '*.tests',
    '*.tests.*',
]

[tool.setuptools.package-data]
'*' = [
    '*.c',
    '*.cc',
    '*.cu',
    '*.g4',
    '*.h',
    '.manifests.json',
    'LICENSE',
]
