{% extends "base.html.j2" %}

{% from 'macros.html.j2' import flash_messages with context %}

{% block content %}

    <div class="column is-4 is-offset-4">

        <h3 class="title">Login</h3>

        <div class="box">

            {{ flash_messages() }}

            <form method="POST" action="{{ url_for('login') }}">

                <div class="field">
                    <div class="control">
                        <label for="email">Email</label>
                        <input
                                id="email"
                                class="input is-large"
                                type="email"
                                name="email"
                                autofocus=""
                                autocomplete="email"
                                required
                                placeholder="Email"
                        >
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label for="password">Password</label>
                        <input
                                id="password"
                                class="input is-large"
                                type="password"
                                name="password"
                                autocomplete="current-password"
                                required
                                placeholder="Password"
                        >
                    </div>
                </div>

                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        Remember me
                    </label>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Login</button>

            </form>

        </div>

    </div>

{% endblock %}
